<!DOCTYPE html>
<html lang="it">

<head>
  <title>Pagina non trovata - Palestra di arrampicata GAM</title>
  <app-head></app-head>
</head>

<body>
  <app-header></app-header>

  <nav id="breadcrumb" aria-label="breadcrumb">
    <p>
      <em>Ti trovi in: <a href="index.php" lang="en">Home</a> / Pagina non trovata</em>
    </p>
  </nav>

  <main>
    <h1>Pagina non trovata</h1>
    <p>
      La pagina che stavi cercando potrebbe essere stata spostata o non esistere più. Puoi <a href="index.php">tornare
        alla <span lang="en">home page</span></a> oppure usare il menu di navigazione in alto.
    </p>
  </main>

  <app-footer></app-footer>
</body>

</html>