<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iscrizione Corso - Palestra di arrampicata GAM</title>
</head>
<body>
    <app-header></app-header>
    <nav id="breadcrumb" aria-label="breadcrumb">
        <p>
          <em>Ti trovi in: <a href="index.php" lang="en">Home/Area Riservata </a>/Iscrizione Corso</em>
        </p>
      </nav>
      <h1>Iscrizioni corsi</h1>
      <p>In quest'area puoi iscriverti a uno o più corsi. Ci si può iscrivere a corsi di gruppo: bambini/ragazzi o adulti e corsi privati.</p>
      
      <p>Iscriviti al Corso</p>
        
    <app-footer></app-footer>
</body>
</html>