<!DOCTYPE html>
<html lang="it">

<head>

  <title>Palestra di arrampicata GAM</title>
  <app-head></app-head>
</head>

<body class="index">
  <app-header></app-header>

  <nav id="breadcrumb" aria-label="breadcrumb">
    <p>
      <em>Ti trovi in: <span lang="en">Home</span></em>
    </p>
  </nav>
  <a class="aiuti" href="index.php#offerings">Salta a offerte</a>

  <main>
    <section>
      <h1>Benvenuto su GAM Climbing</h1>
      <p>
        Cerchi il <strong>brivido dell'altezza</strong>? Sapremo accontentarti!
        Siamo la tua palestra di riferimento per l'arrampicata! <strong>Istruttori qualificati</strong>,
        <strong>corsi privati o di gruppo</strong> e <strong>abbonamenti convenienti</strong>.
      </p>
    </section>

    <section id="offerings">
      <p>Che cosa cerchi?</p>
      <div class="cols-3 our-offerings">
        <div>
          <span id="corsoPrivato"></span>
          <h2>Corso privato</h2>
          <p>
            Un istruttore qualificato ti seguirà nel tuo percorso, sia che tu sia alle prime armi sia che tu
            sia un esperto scalatore
          </p>
          <p>
            <a href="courses.php#privati" class="button" role="button">Scopri di più</a>
          </p>
        </div>
        <div>
          <span id="corsoGruppo"></span>
          <h2>Corso di gruppo</h2>
          <p>
            Allenati in un gruppo di donne e uomini con la tua stessa esperienza e migliorate assieme
          </p>
          <p>
            <a href="courses.php#gruppi" class="button" role="button">Scopri di più</a>
          </p>
        </div>
        <div>
          <span id="abbonamento"></span>
          <h2>Abbonamento</h2>
          <p>
            Per accedere alle sale di allenamento in totale libertà per esercitarti liberamente
          </p>
          <p>
            <a href="subscriptions.php" class="button" role="button">Scopri di più</a>
          </p>
        </div>
      </div>
    </section>
    <div id="scroll-top-wrapper" class="rounded-full">
      <a class="rounded-full" href="index.php#"><img src="assets/images/arrow.svg" alt="Torna su"></a>
    </div>
  </main>

  <app-footer></app-footer>
</body>

</html>