<!DOCTYPE html>
<html lang="it">

<head>
  <title>Istruttori - Palestra di arrampicata GAM</title>
  <app-head></app-head>
</head>

<body class="instructor">
  <app-header></app-header>

  <nav id="breadcrumb" aria-label="breadcrumb">
    <p>
      <em>Ti trovi in: <a href="index.php" lang="en">Home</a> / Istruttori</em>
    </p>
  </nav>

  <main>
    <h1>Istruttori</h1>

    <div class="cols-4" id="istruttori">
      <div>
        <img src="assets/images/instructors/hildegarde.png"
          alt="donna dai capelli castani, occhi marroni, con occhiali e sorridente">
        <h2 lang="en">Sophy Hildegarde</h2>
        <p>
          L'istruttrice preferita dai bambini! Si occupa di avvicinarli a questo sport fin da piccini fino ai 13 anni di
          età.
        </p>
        <p>
          Istruttrice da oltre 20 anni, si assicurerà che i vostri bambini si divertano, imparano e siano al sicuro.
        </p>
      </div>
      <div>
        <img src="assets/images/instructors/valeriano.png" alt="uomo dai capelli neri, occhi grigi">
        <h2>Joele Valeriano</h2>
        <p>
          Da più di 15 anni, Joele svolge con passione il suo compito di seguire i ragazzi dai 14 anni fino alla
          maggiore
          età.
        </p>
      </div>
      <div>
        <img src="assets/images/instructors/mirabella.png" alt="donna con capelli lunghi chiari, occhi azzurri">
        <h2>Maria Letizia Mirabella</h2>
        <p>
          Si occupa principalmente dei corsi per giovani adulti e adulti.
        </p>
        <p>
          Esperta di arrampicata professionista regolarmente tesserata all'Associazione Nazionale di Arrampicata.
        </p>
      </div>
      <div>
        <img src="assets/images/instructors/artemio.png" alt="uomo dai capelli grigi, occhi grigi e barba corta">
        <h2>Massimo Artemio</h2>
        <p>
          Massimo è l'organizzatore di uscite dedicate all'arrampicata in contesti collinari e montuosi.
        </p>
      </div>
    </div>
    <div id="scroll-top-wrapper" class="rounded-full">
      <a class="rounded-full" href="instructors.php#"><img src="assets/images/arrow.svg" alt="Torna su"></a>
    </div>
  </main>

  <app-footer></app-footer>
</body>

</html>