<!DOCTYPE html>
<html lang="it">

<head>
  <title>Dove siamo - Palestra di arrampicata GAM</title>
  <app-head></app-head>
</head>

<body class="where">
  <app-header></app-header>

  <nav id="breadcrumb" aria-label="breadcrumb">
    <p>
      <em>Ti trovi in: <a href="index.php" lang="en">Home</a> / Dove siamo</em>
    </p>
  </nav>
  <a class="aiuti" href="where.php#informazioni">Salta alle informazioni sul luogo</a>

  <main>
    <div class="flex">
      <div>
        <iframe width="425" height="350"
          src="https://www.openstreetmap.org/export/embed.html?bbox=12.07694656227382%2C45.336764100416325%2C12.079765563948472%2C45.338415711171514&amp;layer=mapnik&amp;marker=45.337589911815655%2C12.078356063111187"
          style="border: 1px solid black"></iframe>
        <small>
          <a href="https://www.openstreetmap.org/?mlat=45.33759&amp;mlon=12.07836#map=19/45.33759/12.07836"
            target="_blank">
            Visualizza mappa ingrandita
          </a>
        </small>
      </div>
      <div id="informazioni">
        <section>
          <h1>Dove siamo</h1>
          <address>
            GAM Climbing<br />
            Via Villa 1B<br />
            Bojon 30010 (VE)<br />
            Italia
          </address>
        </section>

        <section>
          <h2>Raggiungici con il bus</h2>
          <p>
            La nostra palestra si trova a 50 metri dalla fermata dell'autobus della linea 6 gestita da Trasporti
            Regione Veneto.
          </p>
        </section>

        <section>
          <h2>Raggiungici con il treno</h2>
          <p>
            La stazione dei treni più vicina si trova nel Comune limitrofo di Piove di Sacco. Scesi alla stazione,
            potete prendere la linea 6 dell'autobus gestita da Trasporti Regione Veneto.
          </p>
        </section>

        <section>
          <h2>Raggiungici dall'autostrada</h2>
          <p>
            Percorrete l'autostrada A4 e prendete l'uscita "Dolo". Seguite poi le indicazioni per Camponogara e poi
            per Bojon. Ci troverete in centro al paese vicino all'ufficio di Poste Italiane.
          </p>
        </section>

        <section>
          <h2>Accessibilità</h2>
          <p>
            La palestra si trova al primo piano di un edificio composto da piano terra e primo piano. Il piano terra
            è raggiungibile tramite scale o rampa.
          </p>
          <p>
            E' possibile raggiungere il primo piano utilizzando l'ascensore oppure la tromba delle scale.
          </p>
        </section>
      </div>
    </div>

    <div id="scroll-top-wrapper" class="rounded-full">
      <a class="rounded-full" href="where.php#"><img src="assets/images/arrow.svg" alt="Torna su"></a>
    </div>
  </main>

  <app-footer></app-footer>
</body>

</html>