<footer aria-label="footer">
    <div>
        <table id="orari"
            summary="La tabella mostra gli orari di apertura della palestra per tutti i giorni della settimana e suddivisa per fasce orarie: mattina e pomeriggio">
            <caption>Orari di Apertura</caption>
            <thead>
                <tr>
                    <td></td>
                    <th scope="col">Mattino</th>
                    <th scope="col">Pomeriggio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" abbr="Lun-Ven">Dal Lunedì al Venerdì</th>
                    <td><time>07:30</time> - <time>12:30</time></td>
                    <td><time>14:00</time> - <time>23:00</time></td>
                </tr>
                <tr>
                    <th scope="row" abbr="Sab-Dom">Sabato e Domenica</th>
                    <td>Chiuso</td>
                    <td><time>15:00</time> - <time>19:00</time></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <section>
            <p><strong>Telefono ufficio</strong>: <a href="tel:+390415284444">0415284444</a></p>
            <p><strong>Telefono cellulare</strong>: <a href="tel:+391230920262">123 0920262</a></p>
            <p><strong>Indirizzo e-mail segreteria</strong>: <a
                    href="mailto:segreteria@gamclimbing.it">segreteria@gamclimbing.it</a></p>
        </section>

        <section>
            <p><strong>Indirizzo</strong>:</p>
            <address>Via Villa 1B, Bojon, 30010 (VE)</address>
        </section>

        <p class="copyright">
            Copyright © 2022 - Gamclimbing
        </p>
    </div>
    <div class="disclaimer">
        <p>
            Il presente sito è realizzato a scopo didattico per il progetto di "Tecnologie Web" del corso di laurea
            triennale in informatica dell'Università degli Studi di Padova.
        </p>
        <p>
            I loghi, le foto e i nomi di persone, aziende o cose riportati sono da ritenersi completamente casuali. La
            palestra di arrampicata "GAM Climbing" esiste veramente ed è di proprietà del fratello di uno dei
            partecipanti al progetto. In ogni caso, questo sito non è da ritenersi in alcun modo collegato a GAM
            Climbing.
        </p>
    </div>
</footer>