<base href="http://localhost/ProgettoTecWeb/">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Palestra di arrampicata a Bojon, Veneto. Corsi di arrampicata per bambini e adulti.">
<meta name="keywords"
      content="palestra, arrampicata, veneto, bambini, adulti, sportiva, corsi, istruttori, abbonamenti">
<meta name="author" content="Francesco Sorge, Saad Mounib, Davide Vitagliano, Elton Ibra">

<link rel="stylesheet" href="styles/main.css" media="screen">
<link rel="stylesheet" href="styles/print.css" media="print">

<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

<script src="scripts/main.js"></script>