<header>
    <img src="assets/images/logo.png" class="logo" alt="GAM Climbing: palestra di arrampicata">
</header>
<nav id="menu" aria-label="menu del sito">
    <img src="assets/images/logo-white.png" class="logo" alt="GAM Climbing: palestra di arrampicata">
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>
        <li>
            <a href="where.php">Dove siamo</a>
        </li>
        <li>
            <a href="contacts.php">Contatti</a>
        </li>
        <li>
            <a href="instructors.php">Istruttori</a>
        </li>
        <li>
            <a href="courses.php">Corsi</a>
        </li>
        <li>
            <a href="subscriptions.php">Abbonamenti</a>
        </li>
        <li>
            <a href="reserved-area/index.php">Area riservata</a>
        </li>
    </ul>

    <button id="toggle-mobile-menu">
        <img src="assets/images/menu.png" alt="Apri o chiudi menu di navigazione" />
    </button>
</nav>