<!DOCTYPE html>
<html lang="it">

<head>
  <title>Modifica abbonamenti - Palestra di arrampicata GAM</title>
  <app-head></app-head>
  <meta name="robots" content="noindex"/>
  <script src="scripts/admins/modify-sub.js"></script>
</head>

<body class="modify">
  <app-header></app-header>
  <nav id="breadcrumb" aria-label="breadcrumb">
    <p>
      <em>Ti trovi in:
        <a href="index.php" lang="en">Home</a>
        /
        <a href="reserved-area/control-panel.php">Area Riservata</a>
        /
        <a href="reserved-area/admins/subs.php">Amministrazione abbonamenti</a>
        / Modifica abbonamento
      </em>
    </p>
  </nav>
  <main>
    <section>
      <h1>Modifica abbonamento</h1>
      <p>
        Qui puoi <strong>modificare</strong> il seguente abbonamento <strong>precedentemente</strong> selezionato.
      </p>
    </section>
    
    <form class="cols-2" id="modify">
      <dynamic-form></dynamic-form>
      
      <div class="col-span-2">
        <input type="submit" value="Modifica" class="button"/>
      </div>
    </form>
    
    <div class='alert error hidden' id='form-error'></div>
    
    <div class='alert success hidden' id='form-success'>
      <p>
        L'abbonamento è stato modificato con successo.
        <a href='reserved-area/admins/subs.php'>Clicca qui per tornare all'amministrazione abbonamenti</a>.
      </p>
    </div>
  </main>
  
  <app-footer></app-footer>
</body>

</html>