<!DOCTYPE html>
<html lang="it">

<head>
  <title>I tuoi corsi - Palestra di arrampicata GAM</title>
  <app-head></app-head>
  <meta name="robots" content="noindex" />
</head>

<body>
  <app-header></app-header>

  <nav id="breadcrumb" aria-label="breadcrumb">
    <p>
      <em>Ti trovi in:
        <a href="index.php" lang="en">Home</a> /
        <a href="reserved-area/control-panel.php">Area Riservata</a>
        / I tuoi corsi
      </em>
    </p>
  </nav>
  <a class="aiuti" href="index.php#courses">Salta ai corsi</a>

  <main>
    <section>
      <h1>I tuoi corsi</h1>
      <p>
        Ti trovi nella pagina di <strong>gestione</strong> dei tuoi <strong>corsi</strong>.
      </p>
      <p>
        Qui potrai <strong>visualizzare</strong> i tuoi corsi attuali, <strong>creare</strong> nuovi corsi
        oppure <strong>modificare</strong> o <strong>cancellare</strong> quelli già esistenti.
      </p>
    </section>
    <section id="courses">
      <table id="courses-table">
        <caption>
          <h2>Tabella dei corsi a te assegnati</h2>
        </caption>
        <thead>
          <tr>
            <th scope="col">Nome corso</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Numero massimo di partecipanti</th>
            <th scope="col">Azioni</th>
          </tr>
        </thead>
        <tbody>
          <data-group></data-group>
        </tbody>
      </table>

      <div class="alert warning hidden" id="courses-table-empty" role="alert">Non hai creato nessun corso. Inizia subito creandone uno!</div>

      <a href="reserved-area/instructor/add.php" class="button">Aggiungi Corso</a>
    </section>

    <div id="scroll-top-wrapper" class="rounded-full">
      <a class="rounded-full" href="reserved-area/instructor/list.php#"><img src="assets/images/arrow.svg"
          alt="Torna su"></a>
    </div>
  </main>
  <app-footer></app-footer>
</body>

</html>